body {
    background-color: grey;
    color: (69, 59, 78);
}
h1 {
    color: rgb(69, 59, 78);
    text-align: center;
}

h2 {
    color: rgb(69, 59, 78);
    text-align: center;
}

.container2 {
    background-color: rgb(201, 172, 172);
    box-shadow: 5px 10px #888888;
}

a {
    color: hotpink;
}

